<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()" novalidate="">

  <div formGroupName="nombreCompleto">

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre"
        [ngClass]="{'is-invalid': !forma.controls['nombreCompleto'].controls['nombre'].valid}">

        <div *ngIf="forma.get('nombreCompleto.nombre').errors?.required" class="invalid-feedback">
          El nombre es necesario
        </div>
        <div *ngIf="forma.get('nombreCompleto.nombre').errors?.minlength" class="invalid-feedback">
          Cantidad minima 3
        </div>

      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8" formArrayName="pasatiempos">

      <input *ngFor="let item of forma.controls['pasatiempos'].controls; let i = index"
              class="form-control"
              type="text"
              [formControlName]="i">
    </div>

    <button type="button" class="btn btn-primary" name="button" (click)="agregarPasatiempo()">Nuevo</button>

  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col-md-8">

      <input class="form-control" type="text" placeholder="Usuario" formControlName="username">
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">Password1</label>
    <div class="col-md-8">

      <input class="form-control" type="password" placeholder="Ingrese la contraseña" formControlName="password1">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Password 2</label>
    <div class="col-md-8">

      <input class="form-control" type="password" placeholder="Reingrese la contraseña" formControlName="password2">
    </div>
  </div>




  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>


<pre>
  {{forma.valid}}
</pre>
<br>
<pre>
  {{forma.status}}
</pre>
